html,
body,
#root {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: rgb(36, 36, 36);
  background-color: rgb(224, 224, 175);
  /* letter-spacing: 4px; */
}

@media only screen and (max-width: 600px) {
  html,
  body,
  #root {
    background-color: rgb(224, 224, 175);
    padding: 0;
    margin: 0;
    line-height: 1.4;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: rgb(36, 36, 36);
    /* background-color: whitesmoke; */
  }
}

.parent {
  background-color: lightblue;
  border: 5px solid rgb(207, 207, 163);
  border-radius: 15px;
  /* border: 1px solid lightgray; */
  margin: 5vh auto 5vh;
  height: 90vh;
  width: 600px;
  display: flex;
  flex-flow: column;
}

@media only screen and (max-width: 600px) {
  .parent {
    background-color: lightblue;
    border: 5px solid rgb(207, 207, 163);
    border-radius: 5px;
    /* border: 1px solid lightgray; */
    padding: 0 5px;
    height: 90vh;
    width: 90%;
    display: flex;
    flex-flow: column;
  }
}

.app-header {
  text-align: center;
  font-size: 40px;
  color: rgb(2, 16, 43);
  font-family: 'Lato', sans-serif;
}

.app-header--small {
  text-align: center;
  font-size: 20px;
  color: rgb(2, 16, 43);
  font-family: 'Lato', sans-serif;
}

.landing-page__container {
  margin: 15vh auto 5vh;
  height: 90vh;
  width: 300px;
  text-align: center;
  padding: 10px;
  /* display: flex;
  flex-flow: column;
  align-content: center; */
}

.landing-page__button {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 10px 14px;
  font-size: 1em;
  border: 0;
  outline: none;
  color: white;
  background-color: rgb(38, 22, 131);
  border-radius: 5px;
}

.landing-page__button:hover {
  background-color: rgb(46, 24, 170);
}

.landing-page__input {
  padding: 10px 10px;
  font-size: 1.1em;
  margin: 10px;
  border: 1px solid rgb(102, 102, 102);
  outline: none;
  border-radius: 5px;
}

.landing-page__feedback {
  border: 1px rgba(59, 59, 59, 0.404) solid;
  border-radius: 5px;
  background-color: rgba(238, 255, 0, 0.158);
  color: rgba(0, 0, 0, 0.822);
  /* flex-grow: 0; */
  display: inline-block;
  font-weight: 500;
  font-size: 0.9em;
  padding: 10px 15px;
}

.chat-header {
  padding: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border-bottom: 1px rgb(154, 153, 167) solid;
}

.chat-header__text {
  font-size: 0.8em;
  font-weight: 500;
  max-width: 600px;
  /* padding: 10px 10px; */
  flex-grow: 0;
  padding: 0;
  margin-top: 3px;
}

.chat-header__button {
  flex-grow: 0;
  cursor: pointer;
  padding: 1px 3px;
  color: rgb(44, 44, 44);
  border: 1.2px solid rgb(44, 44, 44);
  outline: none;
  background-color: transparent;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 5px;
}

/* .chat-header__button:hover {
  border: 1.2px solid rgba(44, 44, 44, 0.8);
  color: rgba(44, 44, 44, 0.8);
} */

.all-messages {
  flex: 1;
  overflow-y: scroll;
}

.all-messages::-webkit-scrollbar-track {
  border-radius: 9px;
  background-color: transparent;
}

.all-messages::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
}

.all-messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.281);
}

.chat-interface {
  padding: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border-top: 1px rgb(154, 153, 167) solid;
}

.chat-interface h3 {
  margin: 0;
}

.chat-interface input {
  font-size: 1.1em;
  background-color: transparent;
  max-width: 600px;
  padding: 10px 10px;
  flex-grow: 1;
  border: solid 1px rgb(154, 153, 167);
  border-right: none;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.chat-interface button {
  flex-grow: 0;
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 1em;
  border: 0;
  user-select: none;
  outline: none;
  color: white;
  background-color: rgb(27, 54, 129);
  border-radius: 0 8px 8px 0;
}

.chat-interface button:hover {
  background-color: rgb(19, 64, 187);
}

.message__container {
  text-align: left;
}

.message__container-self {
  text-align: right;
}

.message-item {
  display: inline-block;
  background-color: lightgreen;
  margin: 10px 10px;
  padding: 12px 12px;
  border-radius: 5px;
  border-radius: 0 10px 10px;
}

.message-item-self {
  display: inline-block;
  background-color: rgb(179, 113, 241);
  margin: 10px 10px;
  padding: 12px 12px;
  border-radius: 10px 0 10px 10px;
}

.message-item-server {
  margin: 10px 10px;
}

.message__username {
  font-size: 0.7em;
  font-weight: 700;
}

.message-item h3,
.message-item p {
  margin: 0;
}
