html,
body,
#root {
  padding: 0;
  margin: 0;
  /* height: 500px; */
  line-height: 1.5;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #000;
  background-color: #f3f7f9;
}

.parent {
  background-color: lightgrey;
  border-radius: 5px;
  margin: 5vh auto 5vh;
  height: 90vh;
  width: 700px;
  display: flex;
  flex-flow: column;
}

.all-messages {
  flex: 1;
  overflow-y: auto;
}

.app-header {
  text-align: center;
  font-size: 40px;
  color: darkgreen;
}

.landing-page__container {
  margin: 15vh auto 5vh;
  height: 90vh;
  width: 500px;
  text-align: center;
  padding: 10px;
  /* display: flex;
  flex-flow: column;
  align-content: center; */
}

.landing-page__button {
  width: 50%;
  cursor: pointer;
  padding: 10px 14px;
  font-size: 1em;
  border: 0;
  user-select: none;
  outline: none;
  color: white;
  background-color: green;
  border-radius: 5px;
}

.landing-page__input {
  width: 100%;
  padding: 10px 10px;
}

.chat-interface {
  padding: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.chat-interface h3 {
  margin: 0;
}

.chat-interface input {
  width: 20%;
  padding: 10px 10%;
}

.chat-interface button {
  width: 20%;
  cursor: pointer;
  padding: 10px 14px;
  font-size: 1em;
  border: 0;
  user-select: none;
  outline: none;
  color: white;
  background-color: green;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.message-item {
  background-color: white;
  margin: 10px 10px;
  border: 1px solid grey;
  padding: 12px 6px;
  border-radius: 5px;
}

.message-item h3,
.message-item p {
  margin: 0;
}